html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: center;
}

a {
	text-decoration: none;
}


.main-container {	
	width: 1200px;
    position: relative;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.20);
}

.header {
	position: relative;
	min-height: 56px;
}

.main-navigation {
	background-color: #ffffff;
	position: relative;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 72px;
	margin: 0;

	list-style: none;
}

.button-navigation {
	color: #333333;
	line-height: 26px;

	width: 238px;
    padding-top: 17px;
    padding-bottom: 18px;
    font-weight: 700;
}

.button-navigation:nth-child(4n+2) {
    margin-right: 96px;
}

.button-navigation:nth-child(4n+3),
.button-navigation:nth-child(4n+4) {
    text-align: right;
}

.button-navigation a {
	color: #000000;
}

.button-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-navigation:hover,
.button-navigation:focus {
  color: #81B3D2;
}

.button-navigation:not([href]) {
  color: #765957;
}

.logo {
	z-index: 1;
	position: absolute;
	width: 140px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.bgmountains {
	background-color: #b8eafc;
	background-image: url(../img/bgmountain.png);
	background-repeat: no-repeat;

	position: relative;
	display: block;
	margin-bottom: 60px;
    padding-top: 75px;
    padding-bottom: 80px;
}

.bgmountains img {
	width: 459;
	height: 353;
	display: block;
	margin: auto;
}

.bgmountains::before {
  content: "";
  width: 1201px;
  min-height: 59px;
  position: absolute;
  bottom: -1px;
  background: url("../img/polygon.png");
  background-repeat: no-repeat;
}

.promo-explanation {
	font-size: 21px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	font-weight: 700;

	margin: 0 auto 30px auto;
	width: 440px;
}

.promo-reasons {
	text-align: center;
	line-height: 36px;

	margin: 0 auto 50px auto;
	width: 489px;
}

.advantages {
	list-style: none;

	margin: 0;
	padding: 0;
}

.main-advantages, 
.town-advantages {
	display: flex;
	flex: wrap;
}

.visible-advantages {
	text-align: center;
	font-size: 14px;
	list-style: none;
	background-color: #eeeeee;

	width: 400px;
	min-height: 256px;
	padding-top: 47px;
    padding-left: 49px;
    padding-right: 49px;
	padding-bottom: 60px;
}

.visible-advantages h3 {
	font-size: 21px;
	font-weight: 700;

	padding-bottom: 24px;
	margin: 0;
}

.visible-advantages p {
	margin: 0;
	padding: 0;
}

.visible-advantages p:nth-of-type(1) {
	padding-bottom: 21px;
}

.basic {
	color: #ffffff;
	background-color: #81b3d2;
	text-align: center;
}

.img-advantages {
	text-align: center;

	max-height: 256px;
	width: 800px;
}


.unvisible-advantages {
	text-align: center;
	font-size: 14px;
	list-style: none;

	width: 400px;
	max-height: 330px;
    position: relative;
    padding: 161px 48px 81px 48px;

}

.unvisible-advantages h3 {
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.unvisible-advantages p {
	text-align: center;
	margin: 0;
	padding: 0;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background: url("../img/icon-1.png");
}

.food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  background: url("../img/icon-2.png");
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  background: url("../img/icon-3.png");
}

.reservation {
	color: #000000;
	text-align: center;
	background-color: #ffffff;
}

.information {
	max-width: 570px;
	min-height: 291px;
	margin: 0 auto;
	padding: 49px 0 0 0;
}

.half-headline {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;

	margin: 0 auto 24px auto;
}

.reservation-info {
	font-size: 14px;
	line-height: 24px;
	text-align: center;

	margin: 0 auto;
	margin-bottom: 47px;
}

.search-button {
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;

	display: block;
    width: 568px;
    min-height: 86px;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.hotel-reservation {
	color: #000000;
	text-align: left;
	font-weight: 700;

	display: block;
	width: 568px;
	min-height: 395px;
	padding: 55px;
	margin: 0;

	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.filling-form {
	color: #000000;
	text-align: left;
	font-weight: 700;
}

.travel-date {
	position: relative;
	margin-bottom: 29px;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.text {
	display: inline-block;
	width: 107px;
	margin: 0;
	padding: 0;
}

.put {
	width: 346px;
	min-height: 38px;
    padding-top: 4px;
    padding-right: 30px;
    padding-left: 11px;
    padding-bottom: 4px;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
}

.number {
	text-align: center;
}

.submit {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #81b3d2;
	display: block;
	width: 458px;
	min-height: 58px;
	border: 0;
}

.calendar {
	width: 21px;
	height: 22px;
	position: absolute;
	right: 9px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0;
}

.number-people {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 458px;
	padding-bottom: 54px;
}

.people-adult {
	width: 225px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.people-adult .text {
	width: : 112px;
}

.people-children {
	width: 180px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.number {
	display: block;
	width: 38px;
	min-height: 38px;
	background-color: #f2f2f2;
	border: 0;
}

.plus {
	display: block;
	position: relative;
	width: 38px;
	min-height: 38px;
	background-color: #f2f2f2;
	border: 0;
	padding: 0;
	margin: 0;
}

.plus::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 14px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 19px;
  width: 3px;
  height: 12px;
  background-color: #a9a9a9;
}

.minus {
	display: block;
	position: relative;
	width: 38px;
	min-height: 38px;
	background-color: #f2f2f2;
	border: 0;
	padding: 0;
	margin: 0;
}

.minus::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 14px;
  width: 12px;
  height: 3px;
  background-color: rgb(169, 169, 169);
}

.map-of-sedona {
	text-align: center;
	margin-bottom: 0;
}

.map-of-sedona p {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.main-footer {	
	width: 1200px;	
	max-height: 120px;
	margin: 0 auto;
	padding: 36px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.hashtag {
	color: #000000;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	width: 400px;
	padding: 11px 0;
	margin: 0;
}

.hashtag a {
	color: #000000;
}

.social-network {
	list-style: none;

	display: flex;
	justify-content: center;
	width: 400px;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.btn-network {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;	
}

.btn-tw{
	margin-right: 6px;
	padding: 17px 14px 16px 15px;
}

.btn-fc {
	margin-right: 6px;
	padding: 13px 17px;
}

.btn-yt {
	padding: 16px 13px;
}

.creator {
	color: #000000;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 400px;
	min-height: 41px;
	padding-top: 4px;
	padding-bottom: 3px;
}

.creator-text {
	padding: 15px 0;
	padding-right: 8px;
}

.creator-logo {
	width: 115px;
	margin: 0;
	padding: 0;
}







.inner-background {
	display: block;
	background-color: #b8eafc;
	background-image: url(../img/filter-background.png);
	background-repeat: no-repeat;
}

.conditions-type,
.choice-of-cost {
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;

}

.conditions {
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}

.name-conditions {
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}

.sorting h2 {
	font-weight: 700;
	line-height: 26px;
	font-size: 21px;
	text-align: left;
	color: #000000;
}
.sorting p {
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}
.sorting-list {
	color: rgba(0, 0, 0, 0.3);
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}

.sorting-list:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-list:active {
	color: #000000;
	border-bottom: 0px dashed #81b3d2;
}

.name-of-house {
	color: #000000;
	line-height: 26px;
	font-size: 21px;
	font-weight: 700;
	text-align: left;
}

.type-of-house,
.cost-of-rent {
	text-align: left;
}